ConnectionStrings__DefaultConnection=server=usersql-mysql;database=superherodb;user=root;password=Usersql@123

Logging__LogLevel__Default=Information
Logging__LogLevel__Microsoft_AspNetCore=Warning

AllowedHosts=*
